venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Coverage / test reports
.coverage
htmlcov/
*.cover

# pytest cache
.pytest_cache/

.env

# OS files
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/
