name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      PROJECT_NAME: "fast-api-test"
      DEBUG: "true"
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      DB_HOST: "sqlite"
      JWT_HASHING_ALGORITHM: "HS256"
      JWT_MINUTES: "15"
      JWT_REFRESH_DAYS: "7"

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt || true

    - name: Run tests
      run: pytest tests --maxfail=1 --disable-warnings -q